@font-face {
font-family: 'ApercuBold';
    src:  url("https://www.pratt.edu/assets/fonts/apercu-bold-webfont.eot/fonts/apercu-bold-webfont.eot");
    src:  url("https://www.pratt.edu/assets/fonts/apercu-bold-webfont.eot?#iefix") format("embedded-opentype"),  url("https://www.pratt.edu/assets/fonts/apercu-bold-webfont.svg#ApercuBold") format("svg"),  url("https://www.pratt.edu/assets/fonts/apercu-bold-webfont.woff") format("woff"),  url("https://www.pratt.edu/assets/fonts/apercu-bold-webfont.ttf") format("truetype");
    font-weight:  normal;
    font-style:  normal;
}
@font-face  {
    font-family:  'ApercuBoldItalic';
    src:  url("https://www.pratt.edu/assets/fonts/apercu-bolditalic-webfont.eot");
    src:  url("https://www.pratt.edu/assets/fonts/apercu-bolditalic-webfont.eot?#iefix") format("embedded-opentype"),  url("https://www.pratt.edu/assets/fonts/apercu-bolditalic-webfont.svg#ApercuBoldItalic") format("svg"),  url("https://www.pratt.edu/assets/fonts/apercu-bolditalic-webfont.woff") format("woff"),  url("https://www.pratt.edu/assets/fonts/apercu-bolditalic-webfont.ttf") format("truetype");
    font-weight:  normal;
    font-style:  normal;
}
@font-face  {
    font-family:  'ApercuItalic';
    src:  url("https://www.pratt.edu/assets/fonts/apercu-italic-webfont.eot");
    src:  url("https://www.pratt.edu/assets/fonts/apercu-italic-webfont.eot?#iefix") format("embedded-opentype"),  url("https://www.pratt.edu/assets/fonts/apercu-italic-webfont.svg#ApercuItalic") format("svg"),  url("https://www.pratt.edu/assets/fonts/apercu-italic-webfont.woff") format("woff"),  url("https://www.pratt.edu/assets/fonts/apercu-italic-webfont.ttf") format("truetype");
    font-weight:  normal;
    font-style:  normal;
}
@font-face  {
    font-family:  'ApercuRegular';
    src:  url("https://www.pratt.edu/assets/fonts/apercu-regular-webfont.eot");
    src:  url("https://www.pratt.edu/assets/fonts/apercu-regular-webfont.eot?#iefix") format("embedded-opentype"),  url("https://www.pratt.edu/assets/fonts/apercu-regular-webfont.svg#ApercuRegular") format("svg"),  url("https://www.pratt.edu/assets/fonts/apercu-regular-webfont.woff") format("woff"),  url("https://www.pratt.edu/assets/fonts/apercu-regular-webfont.ttf") format("truetype");
    font-weight:  normal;
    font-style:  normal;
}
@font-face  {
    font-family:  'ApercuMedium';
    src:  url("https://www.pratt.edu/assets/fonts/apercu-medium-webfont.eot");
    src:  url("https://www.pratt.edu/assets/fonts/apercu-medium-webfont.eot?#iefix") format("embedded-opentype"),  url("https://www.pratt.edu/assets/fonts/apercu-medium-webfont.svg#ApercuMedium") format("svg"),  url("https://www.pratt.edu/assets/fonts/apercu-medium-webfont.woff") format("woff"),  url("https://www.pratt.edu/assets/fonts/apercu-medium-webfont.ttf") format("truetype");
    font-weight:  normal;
    font-style:  normal;
}
@font-face  {
    font-family:  'ApercuMediumItalic';
    src:  url("https://www.pratt.edu/assets/fonts/apercu-medium-italic-webfont.eot");
    src:  url("https://www.pratt.edu/assets/fonts/apercu-medium-italic-webfont.eot?#iefix") format("embedded-opentype"),  url("https://www.pratt.edu/assets/fonts/apercu-medium-italic-webfont.svg#ApercuMediumItalic") format("svg"),  url("https://www.pratt.edu/assets/fonts/apercu-medium-italic-webfont.woff") format("woff"),  url("https://www.pratt.edu/assets/fonts/apercu-medium-italic-webfont.ttf") format("truetype");
    font-weight:  normal;
    font-style:  normal;
}
@font-face  {
    font-family:  'Entypo';
    src:  url("https://www.pratt.edu/assets/fonts/entypo.eot");
    src:  url("https://www.pratt.edu/assets/fonts/entypo.eot?#iefix") format("embedded-opentype"),  url("https://www.pratt.edu/assets/fonts/entypo.svg#Entypo") format("svg"),  url("https://www.pratt.edu/assets/fonts/entypo.woff") format("woff"),  url("https://www.pratt.edu/assets/fonts/entypo.ttf") format("truetype");
    font-weight:  normal;
    font-style:  normal;
}
@font-face  {
    font-family:  "LyonRegular";
    src:  url("https://www.pratt.edu/assets/fonts/LyonText-Regular-Web.eot");
    src:  url("https://www.pratt.edu/assets/fonts/LyonText-Regular-Web.eot?#iefix") format("embedded-opentype"),  url("https://www.pratt.edu/assets/fonts/LyonText-Regular-Web.woff") format("woff"),  url("https://www.pratt.edu/assets/fonts/LyonText-Regular-Web.woff2") format("woff2");
    font-weight:  normal;
    font-style:  normal;
}
@font-face  {
    font-family:  "LyonItalic";
    src:  url("https://www.pratt.edu/assets/fonts/LyonText-RegularItalic-Web.eot");
    src:  url("https://www.pratt.edu/assets/fonts/LyonText-RegularItalic-Web.eot?#iefix") format("embedded-opentype"),  url("https://www.pratt.edu/assets/fonts/LyonText-RegularItalic-Web.woff") format("woff"),  url("https://www.pratt.edu/assets/fonts/LyonText-RegularItalic-Web.woff2") format("woff2");
    font-weight:  normal;
    font-style:  normal;
}
@font-face  {
    font-family:  "LyonBold";
    src:  url("https://www.pratt.edu/assets/fonts/LyonText-Bold-Web.eot");
    src:  url("https://www.pratt.edu/assets/fonts/LyonText-Bold-Web.eot?#iefix") format("embedded-opentype"),  url("https://www.pratt.edu/assets/fonts/LyonText-Bold-Web.woff") format("woff"),  url("https://www.pratt.edu/assets/fonts/LyonText-Bold-Web.woff2") format("woff2");
    font-weight:  normal;
    font-style:  normal;
}
h1,  h2,  h3,  h4,  h5,  h6  {
    font-family:  "ApercuMedium",  Helvetica,  Arial,  sans-serif !important;
    font-weight:  normal !important;
}
p,  pre  {
    font-family:  "LyonRegular",  Helvetica,  Arial,  sans-serif;
    margin:  1.125em 0;
    line-height:  1.55em;
    font-size:  1.04em;
    letter-spacing:  normal;
}
p a  {
    color:  #000000 !important;
    padding:  2px;
    border-bottom:  1px solid #0C77D4;
    border-bottom-width:  1px;
    border-bottom-style:  solid;
    border-bottom-color:  #0C77D4;
    box-shadow:  inset 0 -1px 0 #0C77D4;
    text-decoration:  none;
}
p a:hover  {
    color:  #FFFFFF !important;
    background-color:  #0C77D4;
    padding:  2px;
    transition:  background .15s cubic-bezier(.33,  .66,  .66,  1);
    transition-property:  background;
    transition-duration:  0.15s;
    transition-timing-function:  cubic-bezier(0.33,  0.66,  0.66,  1);
    transition-delay:  0s;
}
blockquote  {
    margin:  1.5em 40px;
}
h1  {
    font-size:  2.75em;
    line-height:  1.5em;
    margin-top:  0.13636em;
    margin-bottom:  0.13636em;
    line-height:  1em;
    text-transform:  uppercase;
    letter-spacing:  0.09em;
}
@media (max-width: 47.938em)  {
    h1  {
    font-size:  2.25em;
}
}
h2  {
    font-size:  1.5rem !important;
    font-weight:  500 !important;
    line-height:  1.2 !important;
    color:  inherit !important;
    margin-top:  0 !important;
    letter-spacing:  0.09em !important;
    text-transform:  uppercase;
}
h3  {
    font-size:  2.25em;
    line-height:  1.5em;
    margin-top:  0.15em;
    margin-bottom:  0.15em;
    line-height:  1.25em;
    letter-spacing:  normal;
}
@media (max-width: 47.938em)  {
    h3  {
    font-size:  1.5em;
}
}
h4  {
    font-size:  1em;
    line-height:  2em;
    margin-top:  0.25em;
    margin-bottom:  0.25em;
    line-height:  1.25em;
    letter-spacing:  0.09em;
    text-transform:  uppercase;
}
@media (max-width: 47.938em)  {
    h4  {
    font-size:  1em;
}
}
h5  {
    font-size:  1.04em;
    line-height:  1.2em;
    margin-top:  0.12em;
    margin-bottom:  0.12em;
    line-height:  1.25em;
}
@media (max-width: 47.938em)  {
    h5  {
    font-size:  0.9375em;
}
}
h6  {
    font-size:  0.95em;
    line-height:  1.57895em;
    margin-top:  0.15789em;
    margin-bottom:  0.15789em;
    line-height:  1.25em;
}
@media (max-width: 47.938em)  {
    h6  {
    font-size:  0.7125em;
}
}
abbr[title]  {
    border-bottom:  1px dotted;
}
b,  strong  {
    font-family:  "LyonBold",  "LyonRegular",  Helvetica,  Arial,  sans-serif;
}
dfn  {
    font-style:  italic;
}
hr  {
    -webkit-box-sizing:  content-box;
    -moz-box-sizing:  content-box;
    box-sizing:  content-box;
    color:  black;
    background-color:  black;
}
mark  {
    background:  #ff0;
    color:  #000;
}
code,  kbd,  pre,  samp  {
    font-family:  monospace,  serif;
    _font-family:  'courier new',  monospace;
    font-size:  1em;
}
pre  {
    white-space:  pre;
    white-space:  pre-wrap;
    word-wrap:  break-word;
}
q  {
    quotes:  "\201C" "\201D" "\2018" "\2019";
}
small  {
    font-size:  80%;
}
sub,  sup  {
    font-size:  75%;
    line-height:  0;
    position:  relative;
    vertical-align:  baseline;
}
sup  {
    top:  -0.5em;
}
sub  {
    bottom:  -0.25em;
}
dl,  menu,  ol,  ul  {
    margin:  1.3em 0;
}
dd  {
    margin:  0 0 0 40px;
}
menu,  ol,  ul  {
    padding:  0 0 0 40px;
}
nav ul,  nav ol  {
    list-style:  none;
    list-style-image:  none;
}
p  {
    font-size:  1em;
}
a  {
    color:  #0C77D4 !important;
    -webkit-transition-property:  color;
    -moz-transition-property:  color;
    -o-transition-property:  color;
    transition-property:  color;
    -webkit-transition-duration:  0.2s;
    -moz-transition-duration:  0.2s;
    -o-transition-duration:  0.2s;
    transition-duration:  0.2s;
    word-wrap:  break-word;
    font-size:  1em;
    text-decoration:  none;
    letter-spacing:  normal;
}

.navbar-custom {
    background-color: rgba(30, 30, 30, 0.88) !important;
    border-bottom: 5px solid #FFB900;
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.3) !important;
}

#library-brand{
  max-width:300px;
  padding:10px;
}

/*omeka-specific overrides*/

#site-title a {
    display: block;
    vertical-align: top;
    font-family: "ApercuMedium", Helvetica, Arial, sans-serif;
    color: #000000 !important;
    letter-spacing: 0.08em;
}

#site-title a:hover{
  text-decoration: none;
  color: #0C77D4 !important;
}

header nav a {
    font-size: .9em;
    text-transform: uppercase;
    text-decoration: none !important;
    font-family: "ApercuMedium", Helvetica, Arial, sans-serif;
    color: #000000 !important;
    letter-spacing: 0.08em;
}

header nav a:hover {
    color: #0C77D4 !important;
}

nav a{
      font-family: "ApercuMedium", Helvetica, Arial, sans-serif;
}
.browse .hentry h2 a, #collection-items .hentry h2 a {
    text-transform: none;
}
.browse .hentry h2, #collection-items .hentry h2 {
    margin-bottom: .5em;
    margin-top: .5em !important;
}

div.exhibit.hentry > div.description > *:first-child  {
overflow: hidden;
text-overflow: ellipsis;
display: -webkit-box;
-webkit-line-clamp: 3;
-webkit-box-orient: vertical;
}

div.exhibit.hentry > div.description > * {
  display:none;
}

h1{
  font-size:1.5rem !important;
  margin-bottom:1.8rem !important;
}

h2{
  font-size: 1.2rem !important;
}

h2 b, strong {
  font-family: "ApercuMedium", Helvetica, Arial, sans-serif;
}

h5{
  font-size:1rem !important;
}
.media-link-1{
  display:none;
}

#exhibit-pages {
  padding:none !important
  width:100% !important;
}

body{
font-family: "LyonRegular", Helvetica, Arial, sans-serif;
}

.footer-links{
  padding-left:0px;
  list-style: none;
}

ul.navigation {
    list-style: none;
    padding-left: 0px;
}

address{
  font-family: "LyonRegular", Helvetica, Arial, sans-serif;
}
